<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <!-- Barra de navegação -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">Hotel Manager</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'gerenciar_hoteis' %}">🏨 Gerenciar Hotéis</a></li>
                <li><a href="{% url 'cadastrar_cliente' %}">➕ Cadastrar Cliente</a></li>
            </ul>
        </div>
    </nav>

    
    <div class="container">
        <h2>Lista de Hotéis</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    {% for hotel in hoteis %}
                        <li class="list-group-item">
                            <strong>{{ hotel.nome }}</strong><br>
                            Endereço: {{ hotel.endereco }}  <a  href="#" class="btn btn-primary btn-sm">✏️ Editar Hotel
                                <a href="#" class="btn btn-danger btn-sm" style="margin-left: 5px;">🗑️ Deletar Hotel</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item text-muted">Nenhum hotel cadastrado ainda.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <hr>

        <!-- Lista de Clientes -->
        <h2>Lista de Clientes</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    {% for cliente in clientes %}
                        <li class="list-group-item">
                            <a href="{% url 'perfil_cliente' cliente.id %}">{{ cliente.nome }}</a> - {{ cliente.email }}
                        </li>
                    {% empty %}
                        <li class="list-group-item text-muted">Nenhum cliente cadastrado ainda.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
<hr>
</body>
</html>
