<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gerenciar Hotéis</title>
    <link rel="stylesheet" href="/static/css/estilo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <nav>
        <div>
            <div>
                <a href="{% url 'home' %}">ReserVou</a>
            </div>
            <ul>
                <li><a href="{% url 'cadastrar_hotel' %}">Cadastrar Novo Hotel</a></li>
                <li><a href="{% url 'home' %}">Voltar para página inicial</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div>
        <h2>Gerenciar Hotéis</h2>
        <hr>
        {% for hotel in hoteis %}
        <div>
            <div>
                <strong>{{ hotel.nome }}</strong>
            </div>
            <div>
                <p><strong>Endereço:</strong> {{ hotel.endereco }}</p>
                <a href="{% url 'cadastrar_quarto' hotel.id %}">Cadastrar Quarto</a>
                <h4>Quartos cadastrados:</h4>
                {% if hotel.quarto.all %}
                <table style="width: 100%; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Tipo</th>
                            <th>Preço da Diária</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for quarto in hotel.quarto.all %}
                        <tr>
                            <td>{{ quarto.numero }}</td>
                            <td>{{ quarto.tipo }}</td>
                            <td>R$ {{ quarto.preco_diaria }}</td>
                            <td>
                                <a href="{% url 'editar_quarto' pk=quarto.id %}">Editar</a>
                                <a href="{% url 'deletar_quarto' pk=quarto.id %}">Deletar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>Nenhum quarto cadastrado ainda.</p>
                {% endif %}
            </div>
        </div>
        {% empty %}
        <div>
            Nenhum hotel cadastrado ainda.
        </div>
        {% endfor %}
    </div>
</body>
</html>
