<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Hotéis Disponíveis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <nav>
        <div>
            <div>
                <a href="{% url 'home' %}">ReserVou</a>
            </div>
            <ul>
                <li><a href="{% url 'gerenciar_hoteis' %}">Gerenciar Hotéis</a></li>
                <li><a href="{% url 'cadastrar_cliente' %}">Cadastrar Cliente</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <h1>Lista de Hotéis</h1>
        <div>
            {% for hotel in hoteis %}
                <div>
                    <div>{{ hotel.nome }}</div>
                    <div>
                        <p><strong>Endereço:</strong> {{ hotel.endereco }}</p>
                        <p><strong>Quartos disponíveis:</strong> {{ hotel.qtd_quartos_disponiveis }}</p>
                        <a href="{% url 'listar_quartos' hotel.id %}?cliente_id={{ cliente_id }}&checkin={{ checkin }}&checkout={{ checkout }}">Ver Quartos</a>
                    </div>
                </div>
            {% empty %}
                <div>Nenhum hotel cadastrado ainda.</div>
            {% endfor %}
        </div>
        <a href="{% url 'home' %}">Voltar</a>
    </div>
</body>
</html>