<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Confirmar Exclusão do Cliente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Barra de navegação -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">ReserVou</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'perfil_cliente' cliente.id %}"><span class="glyphicon glyphicon-arrow-left"></span> Voltar</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2 class="text-center text-danger">Confirmar Exclusão</h2>
        <hr>
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="lead text-center">
                    Tem certeza que deseja excluir o perfil de <strong>{{ cliente.nome }}</strong>?
                </p>
                <form method="post" class="text-center">
                    {% csrf_token %}
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span> Sim, excluir
                        </button>
                        <a href="{% url 'perfil_cliente' id=cliente.id %}" class="btn btn-default" style="margin-left: 10px;">
                            <span class="glyphicon glyphicon-arrow-left"></span> Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>