<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar Cliente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">ReserVou</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-arrow-left"></span> Voltar para a lista de clientes</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2 class="text-center">Editar Cliente</h2>
        <hr>

        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" class="form-control" id="nome" name="nome" value="{{ cliente.nome }}" required>
                    </div>

                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ cliente.email }}" required>
                    </div>

                    <div class="form-group">
                        <label for="telefone">Telefone (Whatsapp):</label>
                        <input type="text" class="form-control" id="telefone" name="telefone" value="{{ cliente.telefone }}" maxlength="11" required>
                    </div>

                    <div class="btn-group btn-group-justified" role="group" aria-label="Ações">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <a href="{% url 'home' %}" class="btn btn-default">
                                <span class="glyphicon glyphicon-arrow-left"></span> Voltar
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
